a {
    text-decoration: none;
}

#certify {
    width: 980px;
    margin: 0 auto;
}

#certify .swiper-slide {
    width: 600px;
    height: 280px;
}

#certify .swiper-wrapper a {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: all 0.3s;
    font-size: 0;
}

#certify .swiper-slide a:before {
    content: '进入游戏';
    width: 100%;
    height: 100%;
    background: url('./assets/image/enter.png') no-repeat center 110px;
    display: block;
    text-align: center;
    line-height: 320px;
    color: #ffc314;
    font-size: 12px;
}

#certify .swiper-slide a:hover {
    opacity: 1;
}
